#chatRoomRequestComponent{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(131,58,180,0.7) 0%, rgba(111,29,253,0.7) 50%, rgba(213,69,252,0.7) 100%);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;

    .closeButton{
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
        color: $color-light-4;
        font-size: 2em;
        cursor: pointer;
    }

    #box{
        width: 319px;
        height: 285px;
        background-color: $color-main-2;
        padding: 30px;
        border-radius: 10px;
        margin: auto;

        form{
            width: 100%;
            height: 100%;
            position: inherit;

            .input-validation{
                width: 100%;
                margin-bottom: 10px;

                ::placeholder{
                    color: rgba($color-light-4, 0.6);
                }
                
                input{
                    width: 100%;
                    height: 47px;
                    background-color: $color-main-5;
                    border-radius: 7px;
                    padding-left: 15px;
                    font-family: 'Roboto';
                    font-weight: 600;
                    color: $color-light-4;
                    transition: all 0.5s;
                }

                .warnInputs{
                    border: 1px solid red;
                }
            }

            button{
                width: 100%;
                border-radius: 7px;
                background-color: $color-main-6;
                color: $color-main-1;
                font-family: 'Roboto';
                font-weight: bold;
                height: 47px;
                margin-top: 64px;
            }
        }
    }
}