*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input{
    border-style: none;
    border: none;
    cursor: pointer;
    outline: none;
}

html,body{
    height: 100%;
}

.vs-notification-parent{
    font-family: 'Roboto';
}

.vs-notification{
    border-radius: 10px !important;
}

@media screen and ( max-width: 600px ){
    .vs-notification{
        border-radius: 0 !important;
    }
}