$color-main-1: #332441;
$color-main-2: #5B238C;
$color-main-3: #28163a;
$color-main-5: #422859;
$color-main-6: #D1BDE5;

$color-dark-1: #222222;
$color-dark-2: #444444;
$color-dark-3: #666666;
$color-dark-4: #888888;

$color-light-1: #bbbbbb;
$color-light-2: #cccccc;
$color-light-3: #dddddd;
$color-light-4: #ffffff;