.chatRoomBox{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .chatRoomBoxContent{
        width: 329px;
        height: 416px;
        background-color: #1C1126;
        z-index: 60;
        padding: 30px;
        border-radius: 10px;
        position: relative;

        .title{
            text-align: center;
            color: #fff;
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 0.87em;
            margin-bottom: 40px;
        }

        form{
            width: 100%;
            height: 100%;
            position: inherit;

            .input-validation{
                width: 100%;
                
                input{
                    width: 100%;
                    height: 47px;
                    background-color: #422859;
                    border-radius: 7px;
                    padding: 0 15px;
                    font-family: 'Roboto';
                    font-weight: 600;
                    color: #fff;
                    transition: all 0.5s;
                }
                
                .warnInputs{
                    border: 1px solid red;
                }

                .validations{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 7px;
                    margin-bottom: 15px;

                    .valid{
                        background-color: rgba(greenyellow, 0.7) !important;
                        .icon{
                            background-color: green !important;
                            color: #fff !important;
                        }
                        p{
                            color: #fff !important;
                        }
                    }
                    
                    .validation{
                        width: auto;
                        border-radius: 3em;
                        background-color: #c4c4c4;
                        padding: 5px 12px 5px 7px;
                        font-size: 0.7em;
                        font-weight: bold;
                        font-family: 'Roboto';
                        display: flex;
                        align-items: center;
                        margin-right: 10px;

                        .icon{
                            width: 15px;
                            height: 15px;
                            border-radius: 100%;
                            background-color: #666666;
                            color: #333;
                            display: flex;
                            align-items: center;

                            i{
                                margin: 2px auto 0 auto;
                                font-size: 0.8em;
                            }
                        }

                        p{
                            margin-left: 10px;
                            color: #666666;
                        }
                    }
                }
            }

            .button-loading{
                margin-top: 78px;

                button{
                    width: 100%;
                    border-radius: 7px;
                    background-color: #D1BDE5;
                    color: #332441;
                    font-family: 'Roboto';
                    font-weight: bold;
                    height: 47px;
                }
            }
        }
    }
}